<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../lib/talkie.min.css">
  <link rel="stylesheet" href="../lib/talkie-default.min.css">
  <link rel="stylesheet" href="../lib/monokai_sublime.min.css">
  <link rel="stylesheet" href="../lib/style.css">
</head>
<body>

<template layout="cover" type="text/x-markdown">
# Title

<hr>

のーと

</template>

<template layout="title" invert type="text/x-markdown"
backface-filter="blur(3px) brightness(.5)">
## invert

</template>

<template layout="code" type="text/x-markdown">
## Code

```javascript
var hoge = 'hoge'

console.log(hoge)
```

</template>

<template layout="bullets" type="text/x-markdown">
## hoge

</template>

<script src="../lib/highlight.min.js"></script>
<script src="../lib/talkie.min.js"></script>
<script src="../lib/app.js"></script>
</body>
</html>
